/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
    color: blue;
}

/* HELPER CLASSES */

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: initial;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
}

/* GENERAL RULES  */

@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: local('HelveticaNeue-Thin.otf'), url('HelveticaNeue-Thin.otf') format('opentype');
}

* {
  box-sizing: border-box;  
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 40px 20px;
}

body {
    font-family: 'HelveticaNeue-Thin';

}

h1 {font-size: 2rem;}

#hero {
    background-image: url('../img/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hero h2 {
   color: white; 
}

.hero-paragraph {
    font-size: 36px;
    line-height: 40px;
    font-family: 'HelveticaNeue-Thin';
    color: white;
    margin-bottom: 55px;
}

h2 {
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    padding-bottom: 3px;
    border-bottom: 4px solid white transparent;
}

.nav li a:hover {
    border-bottom: 4px solid white;
    transition: border-bottom 0.2s, color 0.2s;
}

.cta {
    display:inline-block;
    margin-top: 90px;
    position: relative;
}

.cta-info {
    width: 60%;
    padding-right: 150px;
    float: left;
}

.cta-btn {
    padding: 23px 35px;
    background: #282828;
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

.cta-btn:hover {
    background: #383737;
    transition: 0.3s;
}

.imgs {
    float: right;
    position: absolute;
    right: -135px;
}

.iphone {
    width: 85%;
    position: relative;
    margin-bottom: -220px;
}

.phone-icon {
    vertical-align: middle;
    padding-right: 20px;
}

/* APP FEATURES */

#app-features .container {
    text-align: center;
    padding: 60px 20px;

}

#app-features h2 {
    color: #8a8a8a;
}

.p-features {
    font-family: 'HelveticaNeue-Thin';
    font-size: 22px;
    line-height: 28px;
    padding: 0 130px;
}
.row {
    overflow: hidden;
    margin-top: 50px;
}

.row h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0;
}

.col-4-app {
    width: 33.33%;
    float: left;
    padding: 0 45px;
}

.col-4-app p {
    font-family: 'HelveticaNeue-Thin';
    font-size: 18px;
    line-height: 24px;
    color: #8a8a8a;
}

#nose {
    background: url('../img/nose.png');
    background-size: cover;
    background-position: center;
}

.download-info {
    width: 50%;
    padding: 200px 0;
}
#nose h2 {
    color: white;
}

#nose p {
    font-size: 24px;
    line-height: 30px;
    font-family: 'HelveticaNeue-Thin';
    padding-bottom: 36px;
}

.download-btn {
    padding: 15px;
    background: #d9332d;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.download-btn:hover {
    background: #c33934;
    transition: 0.3s
}

.reddish {
    color: #f55150;
}

/* FOOTER */

footer {
    background: #2e2e38;
}
footer .container {
    padding: 120px 20px;
}

footer h4 {
    font-size: 20px;
}

footer p {
    font-family: 'HelveticaNeue-Thin';
}

.ul-posts li{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 5px;
    padding-left: 70px;
}

.col-4-footer {
    width: 33.33%;
    float: left;
    margin-top: 75px;
    color: white;
    padding: 30px;
}

.ul-posts,
.ul-tweets {
    margin-top: 25px;
    font-family: 'HelveticaNeue-Thin';
}

.reddish-bg {
    background: url('../img/square.png') no-repeat;
}

.block {
    display: block;
}

.p-about {
    font-size: 15px;
    font-style: italic;
    margin-top: 25px;
}

.ul-tweets li {
    list-style: none;
    margin-bottom: 25px;
}

.small-text {
    font-size: 11px;
    margin-top: 5px;
}